<span class="first_button">Click me!</span>

<style>

  /* Write your CSS here to make the span look like a button. */

  .first_button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 14px 12px 55px 19px rgba(0,0,0,0.26) inset;
    -webkit-box-shadow: 14px 12px 55px 19px rgba(0,0,0,0.26) inset;
    -moz-box-shadow: 14px 12px 55px 19px rgba(0,0,0,0.26) inset;
  }

  .first_button:hover {
  background-color: turquoise; #turn turquoise when you hover on it
}
  .first_button:active {
  background-color: red;  #turn red when you click on it
}

</style>
